PUBLIC_SANITY_PROJECT_ID="your-project-id"
PUBLIC_SANITY_DATASET="production"
SANITY_TOKEN="COLE-AQUI"

RESEND_API_KEY="COLE-AQUI"
CONTACT_RECIPIENT_EMAIL="email-de-destino@formulario.com.br"

PUBLIC_RECAPTCHA_SITE_KEY="COLE-AQUI"
RECAPTCHA_SECRET_KEY="COLE-AQUI"