---
import ContactForm from "@/components/Sections/Shared/ContactForm/index.astro";
import homemVitruviano from "@/assets/images/Home/adao.png";
---

<section id="contato" class="section-wrapper bg-black text-white">
  <div class="section-container">
    <div class="grid overflow-hidden rounded-xl sm:rounded-3xl bg-tertiary lg:grid-cols-2">
      <div class="p-2 sm:p-8 lg:p-12">
        <ContactForm />
      </div>

      <div class="relative hidden lg:block">
        <img src={homemVitruviano.src} alt="" class="absolute inset-0 h-full w-full object-cover" />
      </div>
    </div>
  </div>
</section>

<script is:inline src="https://www.google.com/recaptcha/api.js" async defer></script>
