@utility scrollbar-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: #fff transparent;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar-mini {
    scrollbar-width: thin;
    scrollbar-color: var(--color-white) transparent;
  }
}

.scrollbar-mini::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-mini::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-mini::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  border-radius: 0;
}

.scrollbar-mini::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

html::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

html::-webkit-scrollbar-button:start:decrement,
html::-webkit-scrollbar-button:end:increment,
html::-webkit-scrollbar-button:start:increment,
html::-webkit-scrollbar-button:end:decrement {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}
