---
import { Checklist } from "@/components/Checklist";
import type { CoveredTopic } from "@/data/Mentoring/coveredTopics";

interface Props {
  topic: CoveredTopic;
}

const { topic } = Astro.props;
---

<div
  class="w-full max-w-full min-w-0 shrink-0 snap-start overflow-hidden rounded-2xl bg-black lg:w-[35vw] lg:max-w-none lg:min-w-lg"
>
  <div class="relative h-48">
    <img
      src={topic.image.src}
      alt=""
      class="absolute inset-0 h-full w-full object-cover object-center"
    />
    <div class="absolute inset-0 bg-linear-to-t from-black/85 to-transparent"></div>
    <h3 class="absolute inset-x-0 bottom-0 p-5 font-heading text-2xl font-semibold text-white">
      {topic.title}
    </h3>
  </div>

  <Checklist items={topic.items} className="p-5" />
</div>
