---
import { StoreHeroCarousel } from "./StoreHeroCarousel";
import { sanityFetch } from "@/sanity/client";
import { STORE_HERO_SLIDES_QUERY, type StoreHeroSlide } from "@/sanity/schemas/Store/data";

const slides = (await sanityFetch<StoreHeroSlide[]>(STORE_HERO_SLIDES_QUERY)) ?? [];
---

{
  slides.length > 0 && (
    <section>
      <StoreHeroCarousel client:load slides={slides} />
    </section>
  )
}
