---
import Section from "@/components/Layout/Section/index.astro";
import { DevelopedSkillsExplorer } from "./DevelopedSkillsExplorer";
---

<Section>
  <h2 class="section-title">O que será desenvolvido em você</h2>
  <DevelopedSkillsExplorer client:load />
</Section>
