---
import { MentorsList } from "@/components/MentorsList";
import { mentors } from "@/data/mentors";
---

<section class="section-wrapper bg-black text-white">
  <div class="section-container flex flex-col gap-8 lg:gap-12">
    <h2 class="section-title font-heading">Conheça nossa rede de mentores</h2>

    <MentorsList mentors={mentors} client:load />
  </div>
</section>
